body {
	background: #f2f2f2;
	color: #424242;
}
a {
	color: #424242;
	text-decoration: none;
	font-weight: 600;
}
p {
	line-height: inherit;
}

.hidden {
	display: none;
}

.img-responsive {
	margin: auto;
	max-width: 100%;
}

#articlesList {
	background: #fff;
	margin-top: 0;
}
.article {
	border-bottom: 1px solid #f3f3f3;
	align-items: flex-start;
}
.article-content {
	flex-flow: row wrap;
	margin: 0;
	overflow: hidden;
	max-height: 82px;
}
.article-title {
	flex: 1 100%;
	margin-bottom: 0.6em;
}
.article-title > * {
	margin: 0;
	font-weight: 500;
	font-size: 1.1em;
	line-height: 1.1em;
}
.article-title > a {
	font-weight: 600;
}
.article-body {
	flex: 1 100%;
	font-size: 1em;
	line-height: 1em;
}
.article-image-wrapper {
	margin: 0;
}

.section {
	max-width: 1000px;
	margin: auto;
}

.mdl-navigation .mdl-navigation__link:hover {
	opacity: .65;
}
