html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: #f2f2f2;
	color: #424242;
}

a {
	text-decoration: none;
}

p {
	line-height: inherit;
}

.img-responsive {
	margin: auto;
	max-width: 100%;
}

.mdl-navigation .mdl-navigation__link:hover {
	opacity: .65;
}

.section {
	max-width: 800px;
	margin: auto;
}

#articlesList {
	background: #fff;
	margin: 0;
	padding: 0;
}

@media only screen and (min-width: 300px) {

	.article {
		border-bottom: 1px solid #f3f3f3;

		.article-content {
			align-items: flex-start;

			.article-text-wrapper, .article-image-wrapper {
				margin-left: auto;
				margin-right: auto;
				overflow: hidden;
				max-height: 6em;
				transition: 0.25s;
			}

			.article-text-wrapper {
				flex: 1 0 75%;
				padding: 2px;
				margin-top: 0;

				.article-header {
					font-size: 0.9em;
					margin-bottom: 0.4em;
					display: flex;
					justify-content: space-between;
					align-items: flex-end;
					flex-flow: row wrap;

					span {
						margin-bottom: 0.2em;

						&.article-site-info {
							font-size: 0.9em;

							.icon {
								margin: 0;
								margin-right: 4px;
								max-height: 16px;
								vertical-align: bottom;
							}
						}

						&.article-date {
							font-size: 0.85em;
						}
					}
				}

				.article-title {
					margin-bottom: 0.4em;

					> * {
						margin: 0;
						font-weight: 500;
						font-size: 1em;
						line-height: 1em;
					}

					a {
						color: #424242;
						font-weight: 600;
					}
				}

				.article-body {
					font-size: 0.95em;
					line-height: 0.98em;
				}
			}

			.article-image-wrapper {
				flex: 1 0 25%;
				padding: 0;
				text-align: center;

				.article-image {

				}
			}
		}

		&.expand {
			.article-content {

				.article-text-wrapper, .article-image-wrapper {
					max-height: 24em;
					transition: max-height 1s;
				}
			}
		}
	}

}

@media only screen and (min-width: 480px) {
	
	.article {
		.article-content {
			.article-image-wrapper {
				padding: 2px;
			}
		}
	}
}

@media only screen and (min-width: 480px) {

	.article {
		.article-content {
			.article-text-wrapper, .article-image-wrapper {
				padding: 5px;
			}
		}
	}
	
}

@media only screen and (min-width: 650px) {

	.article {
		.article-content {
			.article-text-wrapper, .article-image-wrapper {
				padding: 5px 10px;
			}
		}
	}
	
}

@media only screen and (min-width: 800px) {

	.article {
		.article-content {
			.article-text-wrapper {
				.article-title {
					> * {
						font-size: 1.1em;
						font-height: 1.1em;
					}
				}

				.article-body {
					font-size: 1em;
					font-height: 1em;
				}
			}
		}
	}
	
}
