.pull-right {
	float: right;
}

body {
	background: #f2f2f2;
	color: #424242;
}
a {
	color: #424242;
	text-decoration: none;
	font-weight: 600;
}
p {
	line-height: inherit;
}

.hidden {
	display: none;
}

.img-responsive {
	margin: auto;
	max-width: 100%;
}

#articlesList {
	background: #fff;
	margin-top: 0;
}
.article {
	border-bottom: 1px solid #f3f3f3;
	align-items: flex-start;
}
.article-header {
	width: 100%;
	font-size: 0.9em;
	margin-bottom: 0.6em;
}
.article-header span {
	vertical-align: bottom;
}
.article-date {
	font-size: 0.85em;
}
.icon {
	margin-right: 10px;
	max-height: 18px;
}

.article-content {
	margin: 0;
	padding: 0;
	align-items: flex-start !important;
}
.article-text-wrapper, .article-image-wrapper {
	margin: auto;
	overflow: hidden;
	max-height: 5.5em;
}
.article-title {
	margin-bottom: 0.6em;
}
.article-title > * {
	margin: 0;
	font-weight: 500;
	font-size: 1.1em;
	line-height: 1.1em;
}
.article-title > a {
	font-weight: 600;
}
.article-body {
	font-size: 1em;
	line-height: 1em;
}

.section {
	max-width: 800px;
	margin: auto;
}

.mdl-navigation .mdl-navigation__link:hover {
	opacity: .65;
}
